@font-face {
    font-family: 'quicksandlight';
    src: url('src/fonts/quicksand-light-webfont.woff2') format('woff2'),
         url('src/fonts/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.introMsg {
font-family: 'quicksandlight';
color: whitesmoke;
 
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
 
}

#title {
font-weight:normal;
font-style:normal;
font-size: 100px;
}

p.introMsg {
font-size: 30px;
}

#blurb {
font-size:15px;
}

#section0  {
  background: url('src/background-blur1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


#profileImg {

  background: whitesmoke;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
}

