/*
 *  FONTS
 */

@font-face {
    font-family: 'quicksandlight';
    src: url('src/fonts/quicksand-light-webfont.woff2') format('woff2'),
         url('src/fonts/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
 * CURSOR
 */ 

body, html{
    cursor:url(src/cursor3x.png) 6 6,default;
    cursor:-webkit-image-set(url(src/cursor3x.png) 1x,url(src/cursor3x.png) 2x) 6 6,default;
}

/*
 * SECTION TEXT
 */

.text{
  margin: 3vw;
  font-family: 'quicksandlight';
  color: whitesmoke;
  float:none;
}

.subtitle {

font-weight:normal;
font-style:normal;
font-size: 4vw;
color: whitesmoke;
margin-top:3vw;
font-family: 'quicksandlight';
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-name: anim-1;
}

/*
 * MENU
 */

#menu li {
	display:inline-block;
	margin: 10px;

	font-family: 'Alegreya Sans SC';
	font-size: 1%;
}
#menu li a{
	text-decoration:none;
	color: DimGray;
	text-align:center;
}
#menu li.active,
#menu a:hover{
	color: whitesmoke;
}
#menu li a,
#menu li.active a{
	display:block;
}
#menu li.active a{
	color: whitesmoke;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

/*
 * SECTIONS STYLES
 */ 

#section0, #section1, #section2, #section3, #section4  {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

#section0{
  text-align: center;
}
/*
 *  FIRST SECTION
 */

.hero-image {
  margin-top:5px;
  background-image: url("src/BannerNew.jpg");
  height: 12vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



#profileImg {

  background: whitesmoke;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
}


.introMsg {
font-family: 'quicksandlight';
color: whitesmoke;
/* 
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
*/
text-shadow: 2px 2px 20px #000000; 

}


p.introMsg {
font-size: 2vw;
}

#title {
font-weight:normal;
font-style:normal;
font-size: 7vw;

font-family: 'quicksandlight';
}

/* Section 0 Text fade in */

#menu, #title, #profileImg {
    text-align: center;
    animation: 1s ease 0s normal forwards 1 fadein;
    -moz-animation: 1s ease 0s normal forwards 1 fadein; /* Firefox */
    -webkit-animation: 1s ease 0s normal forwards 1 fadein; /* Safari and Chrome */
    -o-animation: 1s ease 0s normal forwards 1 fadein; /* Opera */
}

#hello {
    
    animation: 2s ease 0s normal forwards 1 fadein;
    -moz-animation: 2s ease 0s normal forwards 1 fadein; /* Firefox */
    -webkit-animation: 2s ease 0s normal forwards 1 fadein; /* Safari and Chrome */
    -o-animation: 2s ease 0s normal forwards 1 fadein; /* Opera */
}

#welcome {
    
    animation: 4s ease 0s normal forwards 1 fadein;
    -moz-animation: 4s ease 0s normal forwards 1 fadein; /* Firefox */
    -webkit-animation: 4s ease 0s normal forwards 1 fadein; /* Safari and Chrome */
    -o-animation: 4s ease 0s normal forwards 1 fadein; /* Opera */
}

#blurb,#quickLinks {
    
    animation: 6s ease 0s normal forwards 1 fadein;
    -moz-animation: 6s ease 0s normal forwards 1 fadein; /* Firefox */
    -webkit-animation: 6s ease 0s normal forwards 1 fadein; /* Safari and Chrome */
    -o-animation: 6s ease 0s normal forwards 1 fadein; /* Opera */
}

.flip-card {

    animation: 7s ease 0s normal forwards 1 fadein;
    -moz-animation: 7s ease 0s normal forwards 1 fadein; /* Firefox */
    -webkit-animation: 7s ease 0s normal forwards 1 fadein; /* Safari and Chrome */
    -o-animation: 7s ease 0s normal forwards 1 fadein; /* Opera */
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@keyframes anim-1 {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}


/*
 
@keyframes fadein { from {opacity:0;} to {opacity:1;} }

@-moz-keyframes fadein { from {opacity:0;} to {opacity:1;} }

@-webkit-keyframes fadein { from {opacity:0;} to {opacity:1;} }

@-o-keyframes fadein { from {opacity:0;} to {opacity: 1;}}
*/

#quickLinks{
  color:DimGrey;

  font-family: 'quicksandlight';
}

#quickLinks a{
  padding: 10px;
  font-family: 'quicksandlight';
  color: DimGrey;
}

#quickLinks a:hover{
  color: DarkGray;
  text-decoration: none;
}

.flip-card {
  background-color: transparent;
  width: 160px;
  height: 25px;
  perspective: 1000px;
  position:absolute;
  bottom:0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: #4F4E4E;
font-size: 1%;
font-family: 'quicksandlight';
}

.flip-card-front {
  #z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
  color: #4F4E4E;
}

#artLink {
 color:#4F4E4E;
}

/*
 * SECOND SECTION 
 */
#section1Container{
height:85%;
width:100%;
}

#expListWrapper {
height:100%;
width:30%;
margin:0px;
font-family: quicksandlight;
color: whitesmoke;
border-width: 1px;
border-right-style: solid;
border-left-style:none;
border-top-style:none;
border-bottom-style:none;
border-right-color: whitesmoke;
display:inline-block;
text-align:left;
float:left;
}

#expDetail{
height:100%;
width:70%;
display:inline-block;

float:left;
}

#expList{
  margin-top:40px;
}

.expListItem{
  padding:5px;
}
